@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  margin: 0;
  line-height: normal;
}

*,
::before,
::after {
  border-width: 0;
}
